{{define "title"}}Test application{{end}}

{{define "body"}}
    <div class="container">
        <ul>
        {{range .}}
            <li>{{.Activity}} - {{.State}}</li>
        {{end}}
        </ul>
    </div>
{{end}}
